

@media (max-width: 600px) {
    .bullet_container{
        display : flex;
        flex-flow: row nowrap;
                    
        margin:20px 0px;
    
        .bullet_text{
            padding-left:40px;
        }
    }
}