
.mobile_cardContainer{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    width: 100%;
    
}

  .mobile_card {
    background-color: #fff;
    height: 400px;
    width: 300px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 20px;
  }

  .mobile_cta-container {
    text-align: center;
    margin-top: 30px;
    position: absolute;
    width: 100%;
    padding:5px;
    }
  .mobile_cta-container .cta-span{
      display: none ;
  } 
  
  .mobile_card:hover {
    box-shadow: 0px 30px 30px rgba(0,0,0,0.2);
    height: 430px;
    width: 330px;
  }
  
  .mobile_card_circle {
    height: 500px;
    width: 450px;
    background: no-repeat;
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    margin-left: -75px;
    margin-top: -270px;
  }
  
  .mobile_card:hover .card_circle {
    border-radius: 0;
    margin-top: -130px;
  }
  
  .mobile_card h2 {
    text-align: center;
    margin-top: 190px;
    position: absolute;
    z-index: 10;
    width: 100%;
    font-weight: 900;
    font-family: "Segoe UI";

  }
  
  .mobile_card h2 small {
    font-weight: normal;
    font-size: 65%;
    color: rgba(0,0,0,0.5);
}


.mobile_prodtittle{
    font-family: "Montserrat";
}
  


     
  
  
