

.vooduplo_container{
margin-top: 60px;
display:flex;
flex-flow: column  wrap;
justify-content: space-between;
align-items: center;
width: 100%;
}
.vooduplo_section{
    margin-top: 120px;
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    justify-content: space-evenly; 
    align-items: center;
    margin-bottom: 120px;
  

}

.vooduplo_title{
    font-weight: 900;
    text-align: center;
}

.vooduplo_text{
    font-size: 20px ;
    margin-top: 40px;
    width: 80%;
}

.vooduplo_FormContainer{
     
    
    &:hover {
        opacity: 1 ;
        }
        &:focus-within {
            opacity: 1 ;
            }
}

.smallpic{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}


/* .photo_container{
    min-width: 100%;
    
    object-fit:fill;    
    
} */
.mobile_vooduplo_section{
    display:flex;
    flex-direction: column;
    width:90%;
    align-items: center;
    justify-content: center ;
    text-align: center;
}
.mobile_vooduplo_title{
    font-family: "Montserrat"
}

