.aboutContainer{
    margin-top:100px;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;


    .material_Container{

        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 70vw;
        min-width:30% ;
        margin:40px 0px 40px 0px;
    
    
        h2{
            font-family: "Montserrat";
            font-weight: 800;
            text-align: center;
        }
    }

 }

.aboutContainer_flexp{
    display:flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;


}

.wetitleItems{
    width:60%;
    margin-top: 20px;



.wetitle{
    color: #2c2c2c;
    font-family: "Montserrat";
    width:100%;

    
        
}
}


.wetitle_text{

            
}

