.aboutContainer{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

 }

.aboutContainer_flexp{
    max-width:800px;
    display:flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;


}

.wetitleItems{
    max-width:600px;

}

.wetitle{
    margin-top: 20px;
    color: #42f934;
    
        
}

.wetitle_text{

            
}

