

.photogallery{
height: 400px;
}

.photogallery_item{
    height:300px;
    font-size: 100px;
}

@media (max-width: 600px) {
    .photogallery{
       height: auto;
        }
    
.photogallery_item{
    width:100%;
    height: auto
}
    }


.mobile_gallery{
    display:flex;
    justify-content: center;
    align-items: center;
}