
.footer{
    padding-top:20px;
    padding-bottom:20px;
    display:flex ;
    flex-flow: column wrap;
    color: #2c2c2c ;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 
    0px -2px 4px -1px rgba(0, 0, 0, 0.2), 
    0px -4px 5px 0px rgba(0, 0, 0 , 0.14), 
    0px -1px 10px 0px rgba(0, 0, 0 , 0.12);

    h3{ 
        font-family: "Montserrat"
        
    }
    
}
.footer_columns{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;  
    width: 100vw;
    align-items: flex-start;
}

.footer_columns_item{
    display:flex;
    flex-flow: row wrap;
    min-width: 20%;
    justify-content: center;
    align-items: center;
    flex-basis: 1;
}

.footer_social_media_display{
    text-align: center;
}

.footer_copy_display{
    text-align: center;
}


.footer_inst{
    display:flex;
    flex-flow: row nowrap;
    
}

.footer_inst_logo_image{
border-right :2px solid rgb(7, 255, 89) ;
width: 120px;
}

.footer_inst_adress{
    width: 250px;
    padding: 10px;

}


.footer_mapa_do_site{
    display:flex;
    flex-flow:column wrap;
    align-items: center;      
}


@media (max-width: 600px) {
    .footer{
        flex-direction: column;
        width: 100%     ;
        justify-content: center;
        h3{

        font-size: 18px   
        }
        }

        .footer_columns{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;  
            width: 90%;
            align-items: center;
        }

    .footer_flex_item{
        display:flex;
        flex-flow: column wrap;
        background-color: #2c2c2c;
        width:100%;       
        justify-content: center;
        text-align: center;
        align-items: center;
       
    }
    .footer_inst_adress{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 12px;
        font-weight:400;
    }
            .social_media_display{
        justify-content: space-evenly;

    }
   
    }