.testimonialContainer{
    display:flex;
    flex-flow :row wrap;
    justify-content: space-evenly;
    margin-top :80px;
    margin-bottom :100px;

   
}

.testimonials_title{
    font-family: "Montserrat"
}   

.video_container {
   padding:15px;
    margin:15px;
}